@import "./assets/css/normalize.css";
@import "./assets/css/webflow.css";
@import "./assets/css/zenith-mtn.webflow.css";

.app-body{
  font-family: Poppins, sans-serif;
}

.radio-div{
  margin-bottom: 50px;
}

.textfield-control{
  width: 100% !important;
  margin-bottom: 40px !important;
}